body{
  font: 15px/1.5 Helvetica, sans-serif;
  padding:0;
  margin:0;
  background:url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F4-HxAw48IyQ%2Fmaxresdefault.jpg&f=1&nofb=1');
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* html {
  overflow: hidden;
} */

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

 .button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color: white;
}

.dark{
  padding:15px;
  background:#35424a;
  color: blue;
  margin-top:10px;
  margin-bottom:10px;

}

h2{
  font: Helvetica;
  font-size:16px;
}
p{
  font: Helvetica;
  font-size:13px;
}
h3{
  font: Helvetica;
  font-size:12px;
  color:gray;
  font-weight: lighter;
}
h4{
  font: helvetica;
  font-size:20px;
}

/* Header **/
header{
  background:url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F4-HxAw48IyQ%2Fmaxresdefault.jpg&f=1&nofb=1');
  color: black;
  padding-top:5px;
  min-height:50px;
  /*border-bottom: #3D405B 3px solid;*/
  position:relative;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header a{
  color: black;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:11px;
}

header .highlight, header .current a{
  color: #3D405B;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
}


/* our team */
*{
  margin:0;
  padding:0;
}

.team-section{
  overflow: hidden;
  text-align: center;
  padding: 20px;
}


.border{
  display: block;
  margin: auto;
  height: 5px;
  margin-bottom: 40px;
}

.ps{
  margin-bottom: 40px;
  display: inline-block;
  margin: 0 30px;
  overflow: hidden;
  position: relative;
}

img {
  margin-top: 100px;
  border-radius: 50%;
}

.avatar {
  object-fit: cover;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 5px solid #3D405B;
}
